<!DOCTYPE html>
<html>
<head>
	<title> Zotprojet</title>
	 <link rel="stylesheet" href="css/style.css" />

</head>
<body>

<div class="tout">	
	<div class="partieun">
		<div> 
			<h1> VOICI VOTRE TEMPLATE </h1>
			<hr />
			<p> Si ce template ne vous plaît pas, Vous pouvez apporter des modifications.</p>
		</div>

		<div>
			<h3> NOUS CONTACTER</h3>
			<hr />	
			<p>0262 01 02 03</p>	
			<p>zotprojet@gmail.com</p>
			<p>128 chemin des patates, 	Trois-Bassins,  97426</p>	
		</div>

	</div>


	<div class="partiedeux">
		<img src="img/template.jpg" alt="template" width="50%" class="imageflottante">
		<br />
		<button><strong>MODIFIER</strong></button>
	</div>
</div>



</body>
</html>