<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/zotproject/assets/style_accueil.css">
	<title>Zotprojet.re</title>
</head>
<body>
	<nav class="navbar navbar-expand">
    	<div class="container">
        	<a class="navbar-brand text-uppercase fw-bold" href="/static/zotproject/images/logo_cyberfun.png">
        		<span class="bg-light bg-gradient p-1 rounded-3 text-light">
        			<img src="/static/zotproject/images/logo_cyberfun.png" width="100">
        		</span>
        	</a>
        		<ul class="navbar-nav">
        			<li class="nav-item active">
        				<a class="test nav-link">Accueil</a>
        			</li>
            		<li class="nav-item active">
               			<a class="test nav-link">Testez</a>
            		</li>
            		<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Contactez-nous</button>
            		<div class="modal fade" id="exampleModal">
            			<div class="modal-dialog">
            			 	<div class="modal-content">
            			 		<div class="modal-header">
            			 			 <p class="modal-title" id="exampleModalLabel">Vous voulez un site internet sur mesure ? <br> Prenons rendez-vous pour en discuter.<br> Contactez-nous au 0692 xx xx xx </p>
            					</div>
            			 	</div>
            			</div>
            		</div>
        		</ul>
  		</div>
	</nav>
	<hr id="ligne">
	<div class="container">
		<div class="row">
			<div class="col-lg text-center">
				<h1>ZOT<span>PROJET.</span>RE</h1>
				<div class="container">
					<div class="row">
						<div class="col-6 col-sm-12">
							<img class="un" src="/static/zotproject/images/cyberfun.png" alt="Délia sur son ordianteur">
						</div>	
						<div class="section_text_un offset-1 col-5 align-self-center offset-sm-0 col-sm-12">
							<p>L'association <span>Cyberun</span> vous offre la possibilté de choisir <span>VOTRE</span> template pour <span>VOTRE</span> site web.
							</p>
							<div class="section_text_deux">
								<p>Pour cela il vous suffit simplement de cliquer sur le bouton ci-dessous et de vous laisser guider.</p>
							</div>
							<div class="titredeux">
								<h2>Le changement <span>commence</span> avec vous !</h2>
								<div class="test">
									<button id="btn">Testez</button>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>	
	</div>
	</div>	
	<hr id="ligne">
	<footer>©COPYRIGHT|CYBERUN 2022</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>