<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>Zotprojet.re</title>
</head>

<header>

	<div>
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand text-uppercase fw-bold" href="#">
			<span>
			  <img src="static/zotproject/images/logo_cyberfun.png" width="170">
			</span>
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  
			<!-- icon -->
			<ul class="navbar-nav" style="font-size: 1.5em; color: black;">
			  <li class="nav-item active">
				<a class="test nav-link"> <i class="bi bi-house"> </i></a>
			  </li>
			<!-- icon -->
			  <li class="nav-item active">
				<a class="test nav-link fw-bold" style="color:#078080;">Testez</a>
			  </li>
			  <span type="button" class="btn btn-light fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 1em; color: black;">Contactez-nous</span>
			  <div class="modal fade" id="exampleModal">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <p class="modal-title" id="exampleModalLabel">Vous voulez un site internet sur mesure ? <br> Prenons rendez-vous pour en discuter.<br> Contactez-nous au 0692 xx xx xx </p>
					</div>
				  </div>
				</div>
			  </div>
			</ul>
		  </div>
		</div>
	  </nav>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  
  </header>

<body>

	<hr id="ligne">
	<div class="container">
		<div class="row">
			<div class="col-lg text-center">
				<h1>ZOT<span>PROJET.</span>RE</h1>
				<div class="container">
					<div class="row">
						<div class="col-6">
							<img src="images/cyberfun.png" alt="Délia sur son ordianteur">
						</div>	
					<div class="section_text_un offset-1 col-5 align-self-center">
						<p>L'association <span>Cyberun</span> vous offre la possibilté de choisir <span>VOTRE</span> template pour <span>VOTRE</span> site web.
						</p>
						<div class="section_text_deux">
						<p>Pour cela il vous suffit simplement de cliquer sur le bouton ci-dessous et de vous laisser guider</p>
						</div>
					</div>
					</div>	
				</div>
					
					<div>
						<h2>Le changement <span>commence</span> avec vous !</h2>
						<div class="test">
							<button id="btn">Testez</button>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	<hr id="ligne">
	<footer>©COPYRIGHT|CYBERUN 2022</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>