body
{
	color:white;
	background-image: url("../images/image-3.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
	/*filter: drop-shadow(8px 5px 4px #000000);*/
	
	

}


.navbar
{
	border-radius: dotted 1px;
	border: rgb(255, 255, 255) 2px solid;
	margin-right: 30%;
	margin-left: 30%;
}

.nav-link
{
	color:white;
	border-right: beige 2px solid; 
}


hr
{
	color: white;
}

.logo
{
	
		height: 100px; 
		width: 100px; 
		background-color: rgba(255, 255, 255, 0);
		border: 2px solid rgb(255, 255, 255);
		border-radius: 50%;
		display:flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		color: white;
		/*background-image: url("../images/Maokai_0.webp");*/
		background-size: cover;
		background-position: center;
}

.contenu{
	 		display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color: white;
}


/*ligne vertical*/
.verti{
	border:         none;
    border-right:    2px solid white;
    height:         10vh;
    width:          20px;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 0.1px;
	

}
/*ligne horizontal*/
.hori
{
	border:         none;
    border-top:    2px solid white;
    width:          50%;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.hori2
{
	border:         none;
    border-top:    2px solid white;
    height:         2vh;
    width:          5%;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.description
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	color: rgb(255, 255, 255);
}