@media all and (orientation: portrait)
{

}

body{

	font-family: verdana;
	color:#232323;
	font-size: 0.8em;

}

.logo
{
	text-align: center;
	margin-top: 20px;;
}


h1
{
	color: #078080;
	font-family: trebuchet MS;
	font-size: xx-large;

}

h3
{
	color: #078080;
	font-family: trebuchet MS;
	font-size: x-large;
}

.tout{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

hr
{
	color:#f45d48;
	border: dashed 1px;
	width:200px;
	margin-left: 2px;
	
}

.partieun
{
	width:50%;
	margin-left:20px;
}

.partiedeux
{
	width: 50%;
	text-align: center;

}

.nouscontacter
{
	
	margin-top:200px;
}

.imageflottante
{
	width:100%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,5);

}

button
{
	color:#232323;
	background-color: #078080;
	border-radius: 10px;
	border-color: #232323;
	text-align: center;
	width:20%;
	height: 50%;
	margin-top: 20px;
	padding:10px;
	overflow: hidden;

}

/* changement du bouton quand on met la souris dessus*/
button:hover
{
	color:#ffffff;
	border-radius: 10px;
	border-color: #ffffff;
	background-color: #f45d48;
	text-align: center;
	width:20%;
	height: 50%;
	margin-top: 20px;
	padding:10px;
	overflow: hidden;

}

.copyright
{
	font-size: 1em;
	text-align: center;
	margin-top:2px;
}

.footerline
{
	color:#078080;
	width:100%;	
	border: solid 0.1em;



}
i{
	color: #078080;
	padding-right: 10px;
	
}
